/* body{background-color: black;} */

h2 {
    background-color: coral;
    color: aliceblue;
}

h1 {
    background-color: bisque;
    color: gray;
}

.saludo {
    text-align: center;
}

.column {
    flex: 1;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

@media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }